/* 静态文件导入 自定义样式*/

#theme-fukasawa .sideLeft hr{
    opacity: .04;
}

/* 自定义中文字体 */
@font-face {
    font-family: cnfont;
    src: url('../font/CircularBody.woff');
    unicode-range: U+1000-999999;
}

/* ASSI字符使用英文字体 */
@font-face {
    font-family: enfont;
    src: url('https://cdn.bootcdn.net/ajax/libs/Iosevka/5.0.0-beta.1/iosevka/ttf/iosevka-regular.ttf');
}

* {
    font-family: enfont, cnfont;
}


/* 限制普通字体不要太黑 */
#container .notion-text {
    color: #1b1b1b;
}
#container .notion-simple-table {
    color: #1b1b1b;
}
#container .notion-list {
    color: #1b1b1b;
}
/* 兼容cnfont，部分字符无法使用font-weight */
.font-light {
    font-weight: unset;
}
/* 取消H1标题的下划线，因为重复了。 */
#container .notion-h1 {
    border-bottom-width: 0 !important;
}
/* 图片默认100%宽度*/
.notion-asset-wrapper img {
    width: 100%;
}

/* 给代码框加上阴影 */
.notion .notion-code {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    border-radius: 0.5rem;
}
